@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-script: var(--font-caveat), cursive;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --text-primary: 23 23 23;
  --text-secondary: 23 23 23;
  --border: 23 23 23;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;

  --text-primary: 237 237 237;
  --text-secondary: 237 237 237;
  --border: 237 237 237;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-text-primary: rgb(var(--text-primary));
  --color-text-secondary: rgb(var(--text-secondary));
  --color-border: rgb(var(--border));

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
